[colors]
background = #001a222d
background-alt = #5E7373
foreground = #f8f8f2
foreground-alt = #c8c8d2
primary = #f8f8f2
secondary = #c8c8d2
format = <label>
alert = #bd2c40
color-0 = #fdf498

[bar/example]

locale = en_US.UTF-8
width = 100%
height = 33
offset-x = 0%
offset-y = 0.4%
fixed-center = false
background = ${colors.background}
foreground = ${colors.foreground}
line-size = 2
line-color = #f00

border-size = 3
border-color = #00000000

padding-left = 0
padding-right = 0

module-margin-left = 0
module-margin-right = 0

font-0 = Iosevka SemiBold:style=Regular:size=18.1;3.5
font-1 = FontAwesome5Free:style=Solid:size=17;3
font-2 = Material Design Icons:style=Regular:size=19;3

modules-left = xkeyboard bspwm sep2
modules-center =  xwindow 
modules-right = sep2 pomobar space wlan space alsa date sep2 
; tray-position = right
; tray-padding = 2
; tray-background = #006

enable-ipc = false
wm-restack = bspwm

cursor-click = pointer



[module/bspwm]
type = internal/bspwm
label-focused-background = #feffff
label-focused-foreground = #3c4460
label-focused-underline= ${colors.primary}
label-focused-padding = 1

label-occupied-background = #39465D
label-empty-background = #002
ws-icon-0 = 1;Web 󰈹
ws-icon-1 = 2;Social 󰕄
ws-icon-2 = 3;Note 󰈚
ws-icon-3 = 4;Dev 󰌽
ws-icon-4 = 5;File 󰉓
ws-icon-5 = 6;Music 󰎆

label-occupied = %icon%
label-occupied-padding = 1
label-occupied-foreground =#FFFFFF
label-urgent = %icon%!
label-urgent-background = ${colors.alert}
label-urgent-padding = 1

label-focused = %icon%
label-empty = %icon% 
label-empty-foreground =#a5a4b2 
label-empty-padding = 1
label-separator = " "



[module/xwindow]
type = internal/xwindow
label =%title:0:30:...%
label-empty = "     $ HI, ARCH USER!          "
label-empty-underline="#332"
label-underline="#ECB3B2"

[module/wlan]
type = internal/network
interface = wlan0
interval = 0.2
label-connected-background = #d37a79
label-connected = "%{F#271D2B} 󰤧 %essid% "
label-connected-foreground = #271D2B
label-disconnected-foreground = #271D2B
label-disconnected = " 󰤮 OFFLINE "
label-disconnected-background = #d37a79

[module/date]
type = internal/date
interval = 30
date = "󰃭 %Y-%b-%d"
date-alt = 
time = 
time-alt = " %a:%H:%M "
label = " %date%%time% "
format-padding = 1
label-background = #fcd485
label-foreground = #112

[module/alsa]
type = internal/alsa
format-volume = <ramp-volume> <label-volume>
format-volume-prefix = " "
format-volume-suffix = " "
format-volume-background = #6BB3CE
format-volume-foreground = #103247
label-muted =   Muted
ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 
label-muted-foreground = ${colors.color-0}

[module/sep2]
type = custom/text
content = ""
content-foreground = ${colors.background-alt}


[module/pomobar]
format-background = #A07Abb
format-foreground = #281D39
format-prefix = " "
format-suffix =  " "
type = custom/script
exec = polybar-timer.sh tail '󰔛 TIMER' 5
tail = true
click-left = polybar-timer.sh new 15 ':' 'notify-send.sh -u critical "Timer expired. Session finished"' ;polybar-timer.sh update %pid% 
click-middle = polybar-timer.sh cancel ; polybar-timer.sh update %pid% 
click-right = polybar-timer.sh new 5 'Pomo break' 'notify-send.sh "Break finished"' ; polybar-timer.sh update %pid% 
scroll-up = polybar-timer.sh increase 60 || polybar-timer.sh new 1 ':' 'notify-send.sh -u critical "Timer expired."' ; polybar-timer.sh update %pid% 
scroll-down = polybar-timer.sh increase -60 ; polybar-timer.sh update %pid% 

[module/space]
type = custom/text
content = " "
