[colors]
background = #3c4556
background-alt = #5E7373
foreground = #ECEFF4
format = <label>

[bar/example]

locale = en_US.UTF-8
width = 100%
height = 30
offset-x = 0%
offset-y = 0%
fixed-center = false
background = ${colors.background}
foreground = ${colors.foreground}

padding-left = 0
padding-right = 0

module-margin-left = 0
module-margin-right = 0

; font-0 = Iosevka SemiBold:style=Regular:size=15;2
; font-1 = FontAwesome5Free:style=Solid:size=16;2

#font-2 = FontAwesome5Brands:style=Regular:size=16;1
font-0 = Iosevka Term:style=Bold:pixelsize=18;4
font-1 = Iosevka Term:style=Bold:size=18;4
; font-2 = Material Design Icons:style=Regular:size=18;1
font-2 = FontAwesome5Free:style=Solid:size=16;2
font-3 = Material Design Icons:style=Regular:size=18;2
font-4 = JetBrainsMono Nerd Font:style=Bold:pixelsize=18;3

modules-left = round-left2 bspwm round-right2
modules-center = round-left xwindow round-right
modules-right = round-left3 pomobar round-right3 space space round-left4 wlan round-right4 space round-left5 alsa round-right5 space round-left7 battery round-right7 space round-left6 date round-right6 isrecording
tray-position = right
tray-padding = 2
tray-background = #2E3440

enable-ipc = false
wm-restack = bspwm

cursor-click = pointer

[module/bspwm]
type = internal/bspwm
label-focused-background = #4C566A
label-focused-foreground = #fff
label-focused-padding = 1

label-focused = %icon%*
ws-icon-0 = 1;󰈹
ws-icon-1 = 2;󰕄
ws-icon-2 = 3;󰈚
ws-icon-3 = 4;󰌽
ws-icon-4 = 5;󰉓
ws-icon-5 = 6;󰎆
ws-icon-6 = 7;%{T3}%{T-}

label-occupied = %icon%
label-occupied-padding = 1
label-occupied-foreground =#fff
label-occupied-background =#5E7373
label-urgent = %icon%!
label-urgent-background = #bd2c40
label-urgent-padding = 1

label-empty = %icon% 
label-empty-foreground =#D8DEE9 
label-empty-background =#5E81AC
label-empty-padding = 1



[module/xwindow]
type = internal/xwindow
label =%title:0:50:...%
label-empty = "     $ HI, ARCH USER!          "
label-empty-background=#fff
label-empty-foreground=#434C5E
label-background=#fff
label-foreground=#434C5E


[module/wlan]
type = internal/network
interface = wlan0
interval = 0.8
label-connected = %{T3}%{T-} %essid%
label-disconnected = "󰊷 OFFLINE"
#label-connected =  %essid%%downspeed:9%
label-connected-background = #A3BE8C
label-disconnected-background = #A3BE8C
label-connected-foreground = #2E3440
label-disconnected-foreground = #2E3440

[module/date]
type = internal/date
interval = 30
date = "󰾩 %Y-%b-%d"
date-alt = 
time = 
time-alt = "%a:%H:%M"
label = %date%%time%
format-padding = 1
format-background =#D08770
format-foreground=#fff

[module/alsa]
type = internal/alsa
format-volume = <ramp-volume><label-volume>
label-muted = %{F#DC143C}󰎊%{F-} %{F#8B0000}Muted%{F-}
ramp-volume-0 = 󰎇
ramp-volume-1 = 󰎇
ramp-volume-2 = 󰎇
label-muted-foreground =#ff0
format-volume-background =#88C0D0
format-volume-foreground =#BFF
label-muted-background=#88C0D0
label-volume-foreground=#000

[module/battery]
type = internal/battery
battery = BAT0
adapter = ADP1
full-at = 99
poll-interval = 5
format-discharging = <ramp-capacity><label-discharging> 
format-full = <label-full> <ramp-capacity>
format-charging = <ramp-capacity><label-charging> 
format-low = #FD3B12
ramp-capacity-0 = 󰁺
ramp-capacity-1 = 󰁼
ramp-capacity-2 = 󰁿
ramp-capacity-3 = 󰂁
ramp-capacity-4 = %{F#2DEF8A}󰁹
ramp-capacity-0-underline = ${self.format-low}
format-discharging-background=#BF616A
format-charging-background=#BF616A


[module/pomobar]
type = custom/script
format-background = #EBCB8B
format-foreground = #434C5E
exec = polybar-timer.sh tail ' TIMER' 5
tail = true
click-left = polybar-timer.sh new 15 ':' 'notify-send.sh -u critical "Timer expired. Session finished"' ;polybar-timer.sh update %pid% 
click-middle = polybar-timer.sh cancel ; polybar-timer.sh update %pid% 
click-right = polybar-timer.sh new 5 'Pomo break' 'notify-send.sh "Break finished"' ; polybar-timer.sh update %pid% 
scroll-up = polybar-timer.sh increase 60 || polybar-timer.sh new 1 ':' 'notify-send.sh -u critical "Timer expired."' ; polybar-timer.sh update %pid% 
scroll-down = polybar-timer.sh increase -60 ; polybar-timer.sh update %pid% 

[module/space]
type = custom/text
content = " "

[module/round-left]
type = custom/text
content = %{T4}%{T-}
content-foreground = #fff

[module/round-right]
type = custom/text
content = %{T4}%{T-}
content-foreground =#fff

[module/round-left2]
type = custom/text
content = %{T4}%{T-}
content-foreground = #5E81AC

[module/round-right2]
type = custom/text
content = %{T4}%{T-}
content-foreground =#5E81AC

[module/round-left3]
type = custom/text
content = %{T4}%{T-}
content-foreground = #EBCB8B

[module/round-right3]
type = custom/text
content = %{T4}%{T-}
content-foreground =#EBCB8B

[module/round-left4]
type = custom/text
content = %{T4}%{T-}
content-foreground =#A3BE8C

[module/round-right4]
type = custom/text
content = %{T4}%{T-}
content-foreground =#A3BE8C

[module/round-left5]
type = custom/text
content = %{T4}%{T-}
content-foreground =#88c0d0

[module/round-right5]
type = custom/text
content = %{T4}%{T-}
content-foreground =#88c0d0

[module/round-left6]
type = custom/text
content = %{T4}%{T-}
content-foreground =#D08770

[module/round-right6]
type = custom/text
content = %{T4}%{T-}
content-foreground =#D08770

[module/round-left7]
type = custom/text
content = %{T4}%{T-}
content-foreground =#BF616A

[module/round-right7]
type = custom/text
content = %{T4}%{T-}
content-foreground =#BF616A
